# Banco de Dados PostgreSQL
DB_HOST=127.0.0.1
DB_PORT=55432
DB_NAME=smp_pci_test
DB_USER=postgres
DB_PASSWORD=

# Servidor
PORT=3000
NODE_ENV=development

# JWT
JWT_SECRET=sua_chave_secreta_muito_segura_aqui

# Upload de arquivos
MAX_FILE_SIZE=10485760
UPLOAD_DIR=./uploads

# Logs
LOG_LEVEL=info
